{% extends "layout.html" %}
{% block title %}Power Core{% endblock %}
{% block page %}Power Core{% endblock %}

{{ super() }}

{% block content %}
<section class="row center">
    <h1 style="text-transform: uppercase;">Power Core</h1>
    {% if is_authenticated %}
    <h4 style="text-transform: uppercase;"> Welcome {{ current_user.username }} </h4>
    <h5 style="text-transform: uppercase;">Only Workout App you will ever need. </h5>
</section>

<section>
    <div class="row">
        <div class="col s12 m9">
            <div class="card blue-grey darken-1">
                <div class="row">
                    <form id="create-routine-form" class="col s6 s12" action="/create_routine" method="POST">
                        <div class="row">
                            <div class="input-field col s7 m10">
                                <i class="material-icons prefix">description</i>
                                <textarea rows="1" id="routine-name" name="routine_name" class="materialize-textarea"></textarea>
                                <label for="routine-name">Enter Routine Name</label>
                            </div>
                            <button type="submit" class="waves-effect waves-light btn right" style="margin-right: 0.3cm;">Create Routine</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col s12 m9">
            <div class="card blue-grey darken-1">
                <div class="row">
                    <form id="search-form" class="col s6 s12" action="/search" method="POST">
                        <div class="row">
                            <div class="input-field col s7 m10">
                                <i class="material-icons prefix" style="margin-top: 0.2cm; margin-left: 0.3cm;">search</i>
                                <textarea rows="1" id="search" name="search" class="materialize-textarea"></textarea>
                                <label for="search">Search</label>
                            </div>
                            <button type="submit" class="waves-effect waves-light btn-large right" style="margin-top: 0.2cm; margin-right: 0.3cm;">Search Exercise</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="row">
        <div class="col s12 m9">
            <div class="card blue-grey darken-1">
                <div class="row">
                    <div class="col s12">
                        <h5>Exercise Details </h5>
                        <p>Name: </p>
                        <p>Type: </p>
                        <p>Body Part: </p>
                        <div class="video-container">
                            <iframe width="200" height="200" src="https://www.youtube.com/embed/CHPHn-OnTqE" frameborder="12" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<form method="POST" action="/" style="margin-left: 2.5ch;">
    <button type="submit" class="btn waves-effect waves-light" style="margin-top: 0.2ch;">Add to routine</button>
</form>


<section class="col s12 m3 center" style="background-color: blue; overflow-y: scroll; height: 86vh;">
    <h1 style="font-size: 1.5em; text-align: center;">Routines listed here</h1>
    
    <ul class="collection with-header">
        <li class="collection-header"><h6></h6></li>
       
        <li class="collection-item"></li>
       
    </ul>
    <a class="left waves-effect waves-light btn">Edit</a>
    <a class="right waves-effect waves-light btn">Delete</a>
    
</section>
{% endif %}
 {% endblock %}